body {
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 14px;
}

.App {
  text-align: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 50px;
}

.header {
  margin: 0 auto 50px auto;
}

.rules {
  max-width: 500px;
  margin: 40px auto 0 auto;
}

.rules p {
  text-align: justify;
  padding: 10px;
}

.cellStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

/* #gameOver{
  width: 300px;
  height: 400px;
  margin: 50px 50px;
  background-color: white;
  position: relative;
  padding-top: 20px;
  border-radius: 5px;
} */

.tryAgain,
button {
  cursor: pointer;
  margin: 0 50px;
  border-radius: 7px;
  background: #3086CC;
  color: white;
  padding: 10px;
  font-weight: 700;
}

.difficulty {
  padding-top: 20px;
}

.difficulty button {
  border: none;
  font-family: 'RocknRoll One', sans-serif
}

.difficulty-options {
  display: flex;
  flex-direction: column;
  padding: 0 10px 25px 10px;
  align-items: flex-start;
  margin: 0 auto 0 auto;
  width: 450px;
}

.credits {
  margin-top: 250px;
  font-size: 10px;
  color: grey;
}

