body {
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 14px;
}

.App {
  text-align: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 50px;
}

.header {
  margin: 0 auto 50px auto;
}

.rules {
  max-width: 500px;
  margin: 40px auto 0 auto;
}

.rules p {
  text-align: justify;
  padding: 10px;
}

.cellStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.tryAgain,
button {
  cursor: pointer;
  margin: 0 50px;
  border-radius: 7px;
  background: #3086CC;
  color: white;
  padding: 10px;
  font-weight: 700;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

button {
  border: none;
  font-family: 'RocknRoll One', sans-serif;
  width: 200px;
  margin-left: 0;
}

h2 {
  text-align: left;
  margin-top: 0;
}

.difficulty,
.custom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 25px 0 25px;
  background-color: #F1F1F1;
  padding: 30px;
}

.difficulty-options,
.custom-options {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  align-items: flex-start;
  width: 360px;
}

.custom-options div {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.custom-options input {
  margin-right: 5px;
  width: 60px;
}

.credits {
  margin-top: 250px;
  font-size: 10px;
  color: grey;
}

